.wrapper {
  position: relative;
}

.card {
  display: flex;
  padding: 64px 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  position: relative;
}

.bg {
  position: absolute;
  inset: 0;
  background: var(--card-bg);
  z-index: -1;
  border-radius: 32px;
  overflow: hidden;
}

.bg::before,
.bg::after {
  content: '';
  position: absolute;
  inset: 0;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  padding: 1px;
  border-radius: inherit;
}

.bg::before {
  background: var(--gradient-border-rb);
}

.bg::after {
  background: var(--gradient-border-gold);
  opacity: 0.3;
}

.image {
  max-width: 200px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.image::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.rotateLeft {
  transform: rotate(-14deg);
}

.rotateRight {
  transform: rotate(14deg);
}

.imagePlaceholder {
  position: absolute;
  inset: 0;
  border-radius: 16px;
  border: 1px solid var(--neutral-manga-400);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: 800;
  color: var(--neutral-manga-200);
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  align-self: stretch;
  text-align: center;
}

.content > * {
  max-width: 100%;
}

.title {
  color: var(--neutral-manga-200);
  margin: 0;
}
