.small {
  padding: 64px 0;
  position: relative;
  overflow: hidden;
}

.default {
  padding: 80px 0;
  position: relative;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .default {
    padding: 144px 0;
  }
}
